.weather-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 20px;
    color: white;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .nav-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .days-icons {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .day-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    transition: transform 0.3s ease;
    opacity: 0.5;
  }
  
  .day-icon.active {
    transform: scale(1.2);
    opacity: 1;
  }
  
  .current-time {
    margin-top: 10px;
    font-size: 1.2em;
text-align: center;
  }
  
  .conditions {
    margin-top: 20px;
    padding-left: 40px;
    

  }
  
  .condition-item {
    margin: 30px;
  }
  