.chart {
  display: flex;
  flex-direction: column;
  background-color: rgba(199, 199, 199, 0.247); /* Độ trong suốt 50% */
  border-radius: 40px;
  align-items: center;
  margin-top: 300px;
  margin-left: 5px;
}

.forecast-container {
  display: flex;
  justify-content: space-around; /* Căn giữa các phần tử */
  margin-top: 20px;
  width: 100%; /* Đảm bảo container chiếm toàn bộ chiều rộng của .chart */
  position: relative;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa các phần tử con */
}

.forecast-icon {
  width: 40px; /* Thay đổi kích thước biểu tượng nếu cần */
  height: 40px;
}

.hour1 {
  margin-bottom: 0px;
  text-align: center; /* Căn giữa văn bản */
}

.tieud1 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 70px;
  font-size: 1.8rem;
}
