.chart {
    position: relative;

  }
  

  
.forecast-container {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  color: white;

}
.tttt{
  margin-bottom: 0;
}
