 #root {
  max-width: 1440px;
  max-height: 3460px;
  margin: 0 auto;
  padding: 2rem;
 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #e79c19;

  margin: 0;
  padding: 0;
  color: #fff;
}

@media (max-width: 600px) {
  .icon-wrapper {
    width: 0.875rem; 
    height: 0.875rem; 
    margin-right: 0.2rem; 
  }

  .icon-wrapper i {
    font-size: 0.5rem; 
  }

  .weather-text {
    font-size: 0.875rem; 
  }
}

@media (min-width: 1200px) {
  .icon-wrapper {
    width: 1.5rem; 
    height: 1.5rem; 
    margin-right: 0.5rem; 
  }

  .icon-wrapper i {
    font-size: 1rem; 
  }

  .weather-text {
    font-size: 1.25rem; 
  }
}
